In [4]:
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
readRDS = robjects.r['readRDS']

In [2]:
df = readRDS('./data/betas.list.rds')
df = pandas2ri.ri2py(df)

In [7]:
from rpy2.robjects.packages import importr

In [8]:
utils = importr('utils')
base = importr('base')
utils.install_packages('BiocManager')

rpy2.rinterface.NULL

In [9]:
biocmanager = importr('BiocManager')
biocmanager.install('limma')
limma = importr('limma')

RRuntimeError: Error in if (answer %in% allowed) break : argument is of length zero

In [ ]:
df = readRDS('./data/BRCA_rna.rds')
df = pandas2ri.ri2py(df)

In [6]:
df

R object with classes: ('EList',) mapped to:
<ListVector - Python:0x0000000111DB90C8 / R:0x0000000111E0C1A0>
[Matrix, DataFrame, DataFrame]
  E: <class 'rpy2.robjects.vectors.Matrix'>
  R object with classes: ('matrix',) mapped to:
<Matrix - Python:0x0000000111E79D08 / R:0x00007FF7946A0010>
[571.840000, 0.000000, 0.000000, 298.740000, ..., 1648.000000, 9778.000000, 1622.000000, 1328.000000]
R object with classes: ('EList',) mapped to:
<ListVector - Python:0x0000000111DB90C8 / R:0x0000000111E0C1A0>
[Matrix, DataFrame, DataFrame]
R object with classes: ('EList',) mapped to:
<ListVector - Python:0x0000000111DB90C8 / R:0x0000000111E0C1A0>
[Matrix, DataFrame, DataFrame]

In [9]:
df[1]

R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D0251548 / R:0x00000006D0888148>
[FloatVector, IntVector, Matrix]
  beta: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000006D8D550C8 / R:0x00000006CF0157C8>
[0.231124, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.300709, 0.000000, 0.000000]
  id: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x00000006CCBB0F88 / R:0x00000006D08880F8>
[20, 6, 1, 7, 18]
  A: <class 'rpy2.robjects.vectors.Matrix'>
  R object with classes: ('matrix',) mapped to:
<Matrix - Python:0x00000006D017AA48 / R:0x00000006D8D79F30>
[142.072478, 25.912689, 305.701176, 32.632942, ..., 75.212158, 271.793550, 32.073927, 16.340898]

In [11]:
df

R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
...
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x00000006D6E97A48 / R:0x00000006D088D698>
[ListVector, ListVector, ListVector, ListVector, ..., ListVector, ListVector, ListVector, ListVector]

In [10]:
len(df)

1000